import numpy as np
import pandas as pd

# Check the specs file

In [7]:
specs = pd.read_csv("Data/specs.csv")
print(specs.head())

   event_id                                               info  \
0  2b9272f4  The end of system-initiated feedback (Correct)...
1  df4fe8b6  The end of system-initiated feedback (Incorrec...
2  3babcb9b  The end of system-initiated instruction event ...
3  7f0836bf  The end of system-initiated instruction event ...
4  ab3136ba  The end of system-initiated instruction event ...

                                                args
0  [{"name":"game_time","type":"int","info":"mill...
1  [{"name":"game_time","type":"int","info":"mill...
2  [{"name":"game_time","type":"int","info":"mill...
3  [{"name":"game_time","type":"int","info":"mill...
4  [{"name":"game_time","type":"int","info":"mill...

In [13]:
specs['info'].head()

0    The end of system-initiated feedback (Correct)...
1    The end of system-initiated feedback (Incorrec...
2    The end of system-initiated instruction event ...
3    The end of system-initiated instruction event ...
4    The end of system-initiated instruction event ...
Name: info, dtype: object

# Check Train data

In [40]:
train = pd.read_csv('Data/train.csv')

In [41]:
train.count()

event_id           11341042
game_session       11341042
timestamp          11341042
event_data         11341042
installation_id    11341042
event_count        11341042
event_code         11341042
game_time          11341042
title              11341042
type               11341042
world              11341042
dtype: int64

In [17]:
train.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [57]:
train.[train['installation_id'] == 'f1c21eda']

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
10680753,27253bdc,b894736313219eae,2019-08-11T06:06:35.013Z,"{""event_code"": 2000, ""event_count"": 1}",f1c21eda,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
10680754,27253bdc,323eab9744201a71,2019-08-11T06:07:12.987Z,"{""event_code"": 2000, ""event_count"": 1}",f1c21eda,1,2000,0,Tree Top City - Level 1,Clip,TREETOPCITY
10680755,b7dc8128,36d3ea5b852c8fa8,2019-08-11T06:07:57.167Z,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",f1c21eda,1,2000,0,All Star Sorting,Game,TREETOPCITY
10680756,4b5efe37,36d3ea5b852c8fa8,2019-08-11T06:08:01.191Z,"{""coordinates"":{""x"":566,""y"":652,""stage_width"":...",f1c21eda,2,4010,5037,All Star Sorting,Game,TREETOPCITY
10680757,2c4e6db0,36d3ea5b852c8fa8,2019-08-11T06:08:03.487Z,"{""houses"":[5,2,1],""dinosaurs"":[{""name"":""petey""...",f1c21eda,3,2020,7170,All Star Sorting,Game,TREETOPCITY
...,...,...,...,...,...,...,...,...,...,...,...
10739736,bcceccc6,f1ae0f539891c710,2019-09-17T04:30:08.973Z,"{""coordinates"":{""x"":2,""y"":16,""stage_width"":101...",f1c21eda,32,4070,83330,Air Show,Game,TREETOPCITY
10739737,f28c589a,f1ae0f539891c710,2019-09-17T04:30:11.415Z,"{""description"":""I want you to land closer to t...",f1c21eda,33,3010,85817,Air Show,Game,TREETOPCITY
10739738,a1bbe385,f1ae0f539891c710,2019-09-17T04:30:16.334Z,"{""description"":""I want you to land closer to t...",f1c21eda,34,3110,90737,Air Show,Game,TREETOPCITY
10739739,28f975ea,f1ae0f539891c710,2019-09-17T04:30:17.783Z,"{""distance"":3,""dinosaur"":""tiny"",""target_distan...",f1c21eda,35,4020,92144,Air Show,Game,TREETOPCITY
10739740,f28c589a,f1ae0f539891c710,2019-09-17T04:30:17.786Z,"{""description"":""You moved your dinosaur Three ...",f1c21eda,36,3010,92144,Air Show,Game,TREETOPCITY

In [59]:
train.count()

event_id           11341042
game_session       11341042
timestamp          11341042
event_data         11341042
installation_id    11341042
event_count        11341042
event_code         11341042
game_time          11341042
title              11341042
type               11341042
world              11341042
dtype: int64

# Train label

In [26]:
label = pd.read_csv("Data/train_labels.csv")

In [27]:
label.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [52]:
len(label['installation_id'].unique())

3614

In [43]:
data = pd.merge(train,label,on='game_session')

In [50]:
data

,event_id,game_session,timestamp,event_data,installation_id_x,event_count,event_code,game_time,title_x,type,world,installation_id_y,title_y,num_correct,num_incorrect,accuracy,accuracy_group
0,3bfd1a65,901acc108f55a5a1,2019-08-06T05:22:01.344Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,0006a69f,Mushroom Sorter (Assessment),1,0,1.000000,3
1,db02c830,901acc108f55a5a1,2019-08-06T05:22:01.400Z,"{""event_count"":2,""game_time"":37,""event_code"":2...",0006a69f,2,2025,37,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,0006a69f,Mushroom Sorter (Assessment),1,0,1.000000,3
2,a1e4395d,901acc108f55a5a1,2019-08-06T05:22:01.403Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,3,3010,37,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,0006a69f,Mushroom Sorter (Assessment),1,0,1.000000,3
3,a52b92d5,901acc108f55a5a1,2019-08-06T05:22:05.242Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,4,3110,3901,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,0006a69f,Mushroom Sorter (Assessment),1,0,1.000000,3
4,a1e4395d,901acc108f55a5a1,2019-08-06T05:22:05.244Z,"{""description"":""To pick a mushroom, pull it ou...",0006a69f,5,3010,3901,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,0006a69f,Mushroom Sorter (Assessment),1,0,1.000000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865442,28520915,5448d652309a6324,2019-09-22T02:07:27.562Z,"{""misses"":1,""prompt"":""holds least"",""mode"":""sel...",ffeb0b1b,58,2030,67094,Cauldron Filler (Assessment),Assessment,MAGMAPEAK,ffeb0b1b,Cauldron Filler (Assessment),1,2,0.333333,1
865443,91561152,5448d652309a6324,2019-09-22T02:07:27.562Z,"{""bucket"":1,""buckets_placed"":[3,1,2],""target_b...",ffeb0b1b,57,4025,67094,Cauldron Filler (Assessment),Assessment,MAGMAPEAK,ffeb0b1b,Cauldron Filler (Assessment),1,2,0.333333,1
865444,d3268efa,5448d652309a6324,2019-09-22T02:07:27.566Z,"{""description"":""Awesome."",""identifier"":""Dot_Aw...",ffeb0b1b,59,3021,67094,Cauldron Filler (Assessment),Assessment,MAGMAPEAK,ffeb0b1b,Cauldron Filler (Assessment),1,2,0.333333,1
865445,b5053438,5448d652309a6324,2019-09-22T02:07:28.311Z,"{""description"":""Awesome."",""identifier"":""Dot_Aw...",ffeb0b1b,60,3121,67847,Cauldron Filler (Assessment),Assessment,MAGMAPEAK,ffeb0b1b,Cauldron Filler (Assessment),1,2,0.333333,1
865446,2b058fe3,5448d652309a6324,2019-09-22T02:07:31.963Z,"{""session_duration"":71511,""event_count"":61,""ga...",ffeb0b1b,61,2010,71511,Cauldron Filler (Assessment),Assessment,MAGMAPEAK,ffeb0b1b,Cauldron Filler (Assessment),1,2,0.333333,1

In [49]:
data['type'].value_counts()

Assessment    865447
Name: type, dtype: int64

# Sample submission

In [28]:
sample_submission = pd.read_csv("Data/sample_submission.csv")

In [29]:
sample_submission.head()

  installation_id  accuracy_group
0        00abaee7               3
1        01242218               3
2        017c5718               3
3        01a44906               3
4        01bc6cb6               3

# Test

In [37]:
test = pd.read_csv("Data/test.csv")

In [38]:
test.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,0ea9ecc81a565215,2019-09-10T16:50:24.910Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,c1ea43d8b8261d27,2019-09-10T16:50:55.503Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,27253bdc,7ed86c6b72e725e2,2019-09-10T16:51:51.805Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 2,Clip,MAGMAPEAK
3,27253bdc,7e516ace50e7fe67,2019-09-10T16:53:12.825Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Crystal Caves - Level 1,Clip,CRYSTALCAVES
4,7d093bf9,a022c3f60ba547e7,2019-09-10T16:54:12.115Z,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",00abaee7,1,2000,0,Chow Time,Game,CRYSTALCAVES