import numpy as np
import pandas as pd

# Check the specs file

In [7]:
specs = pd.read_csv("Data/specs.csv")
print(specs.head())

   event_id                                               info  \
0  2b9272f4  The end of system-initiated feedback (Correct)...
1  df4fe8b6  The end of system-initiated feedback (Incorrec...
2  3babcb9b  The end of system-initiated instruction event ...
3  7f0836bf  The end of system-initiated instruction event ...
4  ab3136ba  The end of system-initiated instruction event ...

                                                args
0  [{"name":"game_time","type":"int","info":"mill...
1  [{"name":"game_time","type":"int","info":"mill...
2  [{"name":"game_time","type":"int","info":"mill...
3  [{"name":"game_time","type":"int","info":"mill...
4  [{"name":"game_time","type":"int","info":"mill...

In [13]:
specs['info'].head()

0    The end of system-initiated feedback (Correct)...
1    The end of system-initiated feedback (Incorrec...
2    The end of system-initiated instruction event ...
3    The end of system-initiated instruction event ...
4    The end of system-initiated instruction event ...
Name: info, dtype: object

# Check Train data

In [15]:
train = pd.read_csv('Data/train.csv')

In [17]:
train.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [23]:
train.loc[3]['event_data']

'{"description":"Let\'s build a sandcastle! First, fill up your mold with sand! You can use the shovel here. The mold gives the sand its shape!","identifier":"Dot_LetsSandcastle,Dot_FillMold,Dot_MoldShape","media_type":"audio","total_duration":6758,"event_count":2,"game_time":53,"event_code":3010}'

# Train label

In [26]:
label = pd.read_csv("Data/train_labels.csv")

In [27]:
label.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [34]:
data = pd.merge(train,label,on=['game_session','title','installation_id'])

In [35]:
data.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world,num_correct,num_incorrect,accuracy,accuracy_group
0,3bfd1a65,901acc108f55a5a1,2019-08-06T05:22:01.344Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3
1,db02c830,901acc108f55a5a1,2019-08-06T05:22:01.400Z,"{""event_count"":2,""game_time"":37,""event_code"":2...",0006a69f,2,2025,37,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3
2,a1e4395d,901acc108f55a5a1,2019-08-06T05:22:01.403Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,3,3010,37,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3
3,a52b92d5,901acc108f55a5a1,2019-08-06T05:22:05.242Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,4,3110,3901,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3
4,a1e4395d,901acc108f55a5a1,2019-08-06T05:22:05.244Z,"{""description"":""To pick a mushroom, pull it ou...",0006a69f,5,3010,3901,Mushroom Sorter (Assessment),Assessment,TREETOPCITY,1,0,1.0,3

In [36]:
data['type'].value_counts()

Assessment    865447
Name: type, dtype: int64

# Sample submission

In [28]:
sample_submission = pd.read_csv("Data/sample_submission.csv")

In [29]:
sample_submission.head()

  installation_id  accuracy_group
0        00abaee7               3
1        01242218               3
2        017c5718               3
3        01a44906               3
4        01bc6cb6               3

# Test

In [ ]:
test = pd.read_csv("Data/test.csv")